<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browser</title>
    <link rel="stylesheet" href="./styles/main.css">
    <style>
        .tabs-bar {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 100%;
            background: #FFF;
            padding: 5px;
            display: flex;
            justify-content: flex-start;
            align-content: center;
            gap: 1vw;
        }

        .tabs-bar .tab {

        }
    </style>
</head>

<body>
    <div>
        <div id="synthesis">
            <div class="tabs-bar">
                <div class="tab">
                    <p>New Tab</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>