<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/main.css">
    <link rel="stylesheet" href="./styles/navbar.css">
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <title>Synthesis</title>
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v7.0.1/css/all.css">
    <link rel="shortcut icon" href="./assets/images/synthesis.png" type="image/x-icon">
</head>

<body>
    <div id="synthesis">
        <nav class="nav-bar-group">
            <div class="nav-bar align-left">
                <h2 class="synthesis-text">Synthesis</h2>
                <p style="user-select: none; font-size: 1vw; padding: 0.5vw;">[v1.0.0]</p>
            </div>
            <div class="nav-bar align-center">
                <button class="nav-bar-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-app-window-icon lucide-app-window">
                        <rect x="2" y="4" width="20" height="16" rx="2" />
                        <path d="M10 4v4" />
                        <path d="M2 8h20" />
                        <path d="M6 4v4" />
                    </svg>
                    <p>Browse</p>
                </button>
                <button class="nav-bar-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-gamepad2-icon lucide-gamepad-2">
                        <line x1="6" x2="10" y1="11" y2="11" />
                        <line x1="8" x2="8" y1="9" y2="13" />
                        <line x1="15" x2="15.01" y1="12" y2="12" />
                        <line x1="18" x2="18.01" y1="10" y2="10" />
                        <path
                            d="M17.32 5H6.68a4 4 0 0 0-3.978 3.59c-.006.052-.01.101-.017.152C2.604 9.416 2 14.456 2 16a3 3 0 0 0 3 3c1 0 1.5-.5 2-1l1.414-1.414A2 2 0 0 1 9.828 16h4.344a2 2 0 0 1 1.414.586L17 18c.5.5 1 1 2 1a3 3 0 0 0 3-3c0-1.545-.604-6.584-.685-7.258-.007-.05-.011-.1-.017-.151A4 4 0 0 0 17.32 5z" />
                    </svg>
                    <p>Entertainment</p>
                </button>
                <button class="nav-bar-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-bot-message-square-icon lucide-bot-message-square">
                        <path d="M12 6V2H8" />
                        <path d="M15 11v2" />
                        <path d="M2 12h2" />
                        <path d="M20 12h2" />
                        <path
                            d="M20 16a2 2 0 0 1-2 2H8.828a2 2 0 0 0-1.414.586l-2.202 2.202A.71.71 0 0 1 4 20.286V8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2z" />
                        <path d="M9 11v2" />
                    </svg>
                    <p>A.I.</p>
                </button>
                <button class="nav-bar-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="lucide lucide-settings-icon lucide-settings">
                        <path
                            d="M9.671 4.136a2.34 2.34 0 0 1 4.659 0 2.34 2.34 0 0 0 3.319 1.915 2.34 2.34 0 0 1 2.33 4.033 2.34 2.34 0 0 0 0 3.831 2.34 2.34 0 0 1-2.33 4.033 2.34 2.34 0 0 0-3.319 1.915 2.34 2.34 0 0 1-4.659 0 2.34 2.34 0 0 0-3.32-1.915 2.34 2.34 0 0 1-2.33-4.033 2.34 2.34 0 0 0 0-3.831A2.34 2.34 0 0 1 6.35 6.051a2.34 2.34 0 0 0 3.319-1.915" />
                        <circle cx="12" cy="12" r="3" />
                    </svg>
                    <p>Settings</p>
                </button>
            </div>
            <div class="nav-bar align-right">
                <div class="widget">
                    <i class="fa-solid fa-battery-full"></i>
                    <span id="battery-level">--%</span>
                    <span>//</span>
                    <span>10:32 PM</span>
                </div>

            </div>
        </nav>
        <div class="main-frame">
            <br><br><br>
            <div class="page proxy">
                <div class="tabs-list">
                    <div class="tab">
                        <img src="https://t2.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=http://google.com&size=128" alt="">
                        <span>Duck - Google Search</span>
                        <p>×</p>
                    </div>
                    <div class="tab active-tab">
                        <img src="https://t2.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=http://google.com&size=128" alt="">
                        <span>i shit my pants - Google Search</span>
                        <p>×</p>
                    </div>
                    <div class="tab">
                        <img src="https://t2.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=http://google.com&size=128" alt="">
                        <span>pemboy forn - Google Search</span>
                        <p>×</p>
                    </div>
                    <div class="tab">
                        <img src="https://t2.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&url=http://google.com&size=128" alt="">
                        <span>cornhub - Google Search</span>
                        <p>×</p>
                    </div>
                </div>
            </div>
            <div class="page games" style="display: none;">
                <h2>- Total games: 99 -</h2>
                <p id="veryInspiringQuotes">"idk how long it took me to finish this project"</p>
                <div class="search-bar-components">
                    <div class="search-bar-wrapper">
                        <input type="text" placeholder="Search a game..." class="search-bar" id="game-search-bar">
                    </div>
                    <button class="reg-btn">
                        <i class="fa-solid fa-dice"></i>
                        <span>Play Random Game</span>
                    </button>
                </div>
                <div class="game-carousel-container" id="search-results-container" style="display: none;">
                    <h3>Search Results</h3>
                    <div class="game-carousel search-results-box">
                        <div class="game-card" id="game-1">
                            <img src="https://gamepi.netlify.app/1v1lol.jpg" alt="">
                            <div class="overlay"></div>
                            <p class="title">1v1.lol</p>
                        </div>
                        <div class="game-card" id="game-1">
                            <img src="https://m.media-amazon.com/images/I/41RCIHMHFDL.png" alt="">
                            <div class="overlay"></div>
                            <p class="title">2048</p>
                        </div>
                        <div class="game-card" id="game-1">
                            <img src="https://www.meeplemountain.com/wp-content/uploads/2018/07/jetpack-joyride-review-header.jpg"
                                alt="">
                            <div class="overlay"></div>
                            <p class="title">Jetpack Joyriders</p>
                        </div>
                        <div class="game-card" id="game-1">
                            <img src="https://gamepi.netlify.app/1v1lol.jpg" alt="">
                            <div class="overlay"></div>
                            <p class="title">1v1.lol</p>
                        </div>
                        <div class="game-card" id="game-1">
                            <img src="https://m.media-amazon.com/images/I/41RCIHMHFDL.png" alt="">
                            <div class="overlay"></div>
                            <p class="title">2048</p>
                        </div>
                        <div class="game-card" id="game-1">
                            <img src="https://www.meeplemountain.com/wp-content/uploads/2018/07/jetpack-joyride-review-header.jpg"
                                alt="">
                            <div class="overlay"></div>
                            <p class="title">Jetpack Joyriders</p>
                        </div>
                        <div class="game-card" id="game-1">
                            <img src="https://gamepi.netlify.app/1v1lol.jpg" alt="">
                            <div class="overlay"></div>
                            <p class="title">1v1.lol</p>
                        </div>
                        <div class="game-card" id="game-1">
                            <img src="https://m.media-amazon.com/images/I/41RCIHMHFDL.png" alt="">
                            <div class="overlay"></div>
                            <p class="title">2048</p>
                        </div>
                        <div class="game-card" id="game-1">
                            <img src="https://www.meeplemountain.com/wp-content/uploads/2018/07/jetpack-joyride-review-header.jpg"
                                alt="">
                            <div class="overlay"></div>
                            <p class="title">Jetpack Joyriders</p>
                        </div>
                    </div>
                </div>
                <div class="game-carousel-container">
                    <h3>Featured Games</h3>
                    <div class="game-carousel">
                        <button class="scroll-button left">‹</button>
                        <div class="game-card" id="game-1">
                            <img src="https://gamepi.netlify.app/1v1lol.jpg" alt="">
                            <div class="overlay"></div>
                            <p class="title">1v1.lol</p>
                        </div>
                        <div class="game-card" id="game-1">
                            <img src="https://m.media-amazon.com/images/I/41RCIHMHFDL.png" alt="">
                            <div class="overlay"></div>
                            <p class="title">2048</p>
                        </div>
                        <div class="game-card" id="game-1">
                            <img src="https://www.meeplemountain.com/wp-content/uploads/2018/07/jetpack-joyride-review-header.jpg"
                                alt="">
                            <div class="overlay"></div>
                            <p class="title">Jetpack Joyriders</p>
                        </div>
                        <button class="scroll-button right">›</button>
                    </div>
                </div>
                <div class="game-carousel-container">
                    <h3>Action Games</h3>
                    <div class="game-carousel">
                        <button class="scroll-button left">‹</button>
                        <div class="game-card" id="game-1">
                            <img src="https://gamepi.netlify.app/1v1lol.jpg" alt="">
                            <div class="overlay"></div>
                            <p class="title">1v1.lol</p>
                        </div>
                        <div class="game-card" id="game-1">
                            <img src="https://m.media-amazon.com/images/I/41RCIHMHFDL.png" alt="">
                            <div class="overlay"></div>
                            <p class="title">2048</p>
                        </div>
                        <div class="game-card" id="game-1">
                            <img src="https://www.meeplemountain.com/wp-content/uploads/2018/07/jetpack-joyride-review-header.jpg"
                                alt="">
                            <div class="overlay"></div>
                            <p class="title">Jetpack Joyriders</p>
                        </div>
                        <div class="game-card" id="game-1">
                            <img src="https://gamepi.netlify.app/1v1lol.jpg" alt="">
                            <div class="overlay"></div>
                            <p class="title">1v1.lol</p>
                        </div>
                        <div class="game-card" id="game-1">
                            <img src="https://m.media-amazon.com/images/I/41RCIHMHFDL.png" alt="">
                            <div class="overlay"></div>
                            <p class="title">2048</p>
                        </div>
                        <div class="game-card" id="game-1">
                            <img src="https://www.meeplemountain.com/wp-content/uploads/2018/07/jetpack-joyride-review-header.jpg"
                                alt="">
                            <div class="overlay"></div>
                            <p class="title">Jetpack Joyriders</p>
                        </div>
                        <div class="game-card" id="game-1">
                            <img src="https://gamepi.netlify.app/1v1lol.jpg" alt="">
                            <div class="overlay"></div>
                            <p class="title">1v1.lol</p>
                        </div>
                        <div class="game-card" id="game-1">
                            <img src="https://m.media-amazon.com/images/I/41RCIHMHFDL.png" alt="">
                            <div class="overlay"></div>
                            <p class="title">2048</p>
                        </div>
                        <div class="game-card" id="game-1">
                            <img src="https://www.meeplemountain.com/wp-content/uploads/2018/07/jetpack-joyride-review-header.jpg"
                                alt="">
                            <div class="overlay"></div>
                            <p class="title">Jetpack Joyriders</p>
                        </div>
                        <button class="scroll-button right">›</button>
                    </div>
                </div>
                <div class="game-carousel-container">
                    <h3>Featured Games</h3>
                    <div class="game-carousel">
                        <button class="scroll-button left">‹</button>
                        <div class="game-card" id="game-1">
                            <img src="https://gamepi.netlify.app/1v1lol.jpg" alt="">
                            <div class="overlay"></div>
                            <p class="title">1v1.lol</p>
                        </div>
                        <div class="game-card" id="game-1">
                            <img src="https://m.media-amazon.com/images/I/41RCIHMHFDL.png" alt="">
                            <div class="overlay"></div>
                            <p class="title">2048</p>
                        </div>
                        <div class="game-card" id="game-1">
                            <img src="https://www.meeplemountain.com/wp-content/uploads/2018/07/jetpack-joyride-review-header.jpg"
                                alt="">
                            <div class="overlay"></div>
                            <p class="title">Jetpack Joyriders</p>
                        </div>
                        <div class="game-card" id="game-1">
                            <img src="https://gamepi.netlify.app/1v1lol.jpg" alt="">
                            <div class="overlay"></div>
                            <p class="title">1v1.lol</p>
                        </div>
                        <div class="game-card" id="game-1">
                            <img src="https://m.media-amazon.com/images/I/41RCIHMHFDL.png" alt="">
                            <div class="overlay"></div>
                            <p class="title">2048</p>
                        </div>
                        <div class="game-card" id="game-1">
                            <img src="https://www.meeplemountain.com/wp-content/uploads/2018/07/jetpack-joyride-review-header.jpg"
                                alt="">
                            <div class="overlay"></div>
                            <p class="title">Jetpack Joyriders</p>
                        </div>
                        <div class="game-card" id="game-1">
                            <img src="https://gamepi.netlify.app/1v1lol.jpg" alt="">
                            <div class="overlay"></div>
                            <p class="title">1v1.lol</p>
                        </div>
                        <div class="game-card" id="game-1">
                            <img src="https://m.media-amazon.com/images/I/41RCIHMHFDL.png" alt="">
                            <div class="overlay"></div>
                            <p class="title">2048</p>
                        </div>
                        <div class="game-card" id="game-1">
                            <img src="https://www.meeplemountain.com/wp-content/uploads/2018/07/jetpack-joyride-review-header.jpg"
                                alt="">
                            <div class="overlay"></div>
                            <p class="title">Jetpack Joyriders</p>
                        </div>
                        <button class="scroll-button right">›</button>
                    </div>
                </div>
                <div class="game-carousel-container">
                    <h3>Action Games</h3>
                    <div class="game-carousel">
                        <button class="scroll-button left">‹</button>
                        <div class="game-card" id="game-1">
                            <img src="https://gamepi.netlify.app/1v1lol.jpg" alt="">
                            <div class="overlay"></div>
                            <p class="title">1v1.lol</p>
                        </div>
                        <div class="game-card" id="game-1">
                            <img src="https://m.media-amazon.com/images/I/41RCIHMHFDL.png" alt="">
                            <div class="overlay"></div>
                            <p class="title">2048</p>
                        </div>
                        <div class="game-card" id="game-1">
                            <img src="https://www.meeplemountain.com/wp-content/uploads/2018/07/jetpack-joyride-review-header.jpg"
                                alt="">
                            <div class="overlay"></div>
                            <p class="title">Jetpack Joyriders</p>
                        </div>
                        <div class="game-card" id="game-1">
                            <img src="https://gamepi.netlify.app/1v1lol.jpg" alt="">
                            <div class="overlay"></div>
                            <p class="title">1v1.lol</p>
                        </div>
                        <div class="game-card" id="game-1">
                            <img src="https://m.media-amazon.com/images/I/41RCIHMHFDL.png" alt="">
                            <div class="overlay"></div>
                            <p class="title">2048</p>
                        </div>
                        <div class="game-card" id="game-1">
                            <img src="https://www.meeplemountain.com/wp-content/uploads/2018/07/jetpack-joyride-review-header.jpg"
                                alt="">
                            <div class="overlay"></div>
                            <p class="title">Jetpack Joyriders</p>
                        </div>
                        <div class="game-card" id="game-1">
                            <img src="https://gamepi.netlify.app/1v1lol.jpg" alt="">
                            <div class="overlay"></div>
                            <p class="title">1v1.lol</p>
                        </div>
                        <div class="game-card" id="game-1">
                            <img src="https://m.media-amazon.com/images/I/41RCIHMHFDL.png" alt="">
                            <div class="overlay"></div>
                            <p class="title">2048</p>
                        </div>
                        <div class="game-card" id="game-1">
                            <img src="https://www.meeplemountain.com/wp-content/uploads/2018/07/jetpack-joyride-review-header.jpg"
                                alt="">
                            <div class="overlay"></div>
                            <p class="title">Jetpack Joyriders</p>
                        </div>
                        <button class="scroll-button right">›</button>
                    </div>
                </div>
            </div>
            <div class="page apps" style="display: none;">

            </div>
            <div class="page settings" style="display: none;">

            </div>
        </div>
    </div>
    <script src="./scripts/main.js"></script>

</body>

</html>