@import './fontfamily.css';

* {
    font-family: 'Poppins', sans-serif;
}

:root {
    --base-color: var(--black-and-white);
    --main: hsl(243, 42%, 52%);
    --blossom: hsl(258, 42%, 52%);
    --void: hsl(258, 39%, 35%);
    --lavender: hsl(209, 42%, 52%);
    --lava: hsl(9, 67%, 45%);
    --black-and-white: hsl(0, 0%, 0%);

    --secondary-color: hsl(from var(--base-color) h s calc(l - 10));

    --text-color: hsl(from var(--base-color) h s calc(l + 5));
    --subtext-color: hsl(from var(--base-color) h s calc(l + 2));
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

body {
    margin: 0;
    height: 100vh;
    cursor: url("../assets/cursor.png"), auto;
    background: hsl(from var(--base-color) h s calc(l - 20));
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    color: var(--text-color);
    position: relative;
    z-index: 0;
    animation: anim_fadeIn 0.5s ease-in-out;
    font-family: 'Poppins', sans-serif;
    min-width: 100dvh;
}


#synthesis,
#syn-particles {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#synthesis::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: conic-gradient(from var(--angle),
            var(--base-color),
            hsl(from var(--base-color) h s calc(l - 25)),
            var(--base-color));
    background-attachment: fixed;
    background-size: 100% 100%;
    border-radius: 10px;
    filter: blur(10vw);
    animation: rotate 7s linear infinite;
    opacity: 0.5;
}

#syn-particles {
    z-index: -1;
}

.main-frame {
    background: hsl(from var(--secondary-color) h s calc(l - 20));
    opacity: 0.75;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 1vw;
    font-size: 3vh;
    transition: 0.25s ease;
    margin: 1vw 0 1.5vw 0;
    width: 95%;
    height: 100vh;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* games section */

.game-carousel {
    display: flex;
    gap: 1vw;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    width: 85vw;
    border-radius: 10px;
    background: transparent;
    anchor-name: --game-carousel;
    padding: 2.5vh;
    margin: 1vw 1vh;
}

.game-card {
    flex: 0 0 15vw;
    height: 15vh;
    width: 10vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5vw;
    scroll-snap-align: start;
    cursor: pointer;
    position: relative;
    padding: 0.25vw 0.5vh;
    transition: 0.25s ease;
}

.game-card::before,
.game-card::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: conic-gradient(from var(--angle),
            transparent,
            hsl(from var(--secondary-color) h s calc(l + 10)),
            transparent,
            hsl(from var(--secondary-color) h s calc(l + 10)),
            transparent);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border-radius: 10px;
    z-index: -1;
    animation: spin 5s linear infinite;
    opacity: 0;
    transition: 0.25s ease;
}

.game-card::after {
    filter: blur(10px);
}

.game-card:hover::after {
    opacity: 1;
}

.game-card:hover::before {
    opacity: 1;
}

.game-card:hover img {
    box-shadow: inset 0 1vw 20px rgba(0, 0, 0, 0.6);
    transition: box-shadow 0.3s ease;
}

.game-card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    /* black transparent */
    border-radius: inherit;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.game-card:hover .overlay,
.game-card:hover .title {
    opacity: 1;
}


.game-card:hover {
    transform: scale(1.05);
}

.game-card:active {
    transform: scale();
}


.game-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
    display: block;
    position: relative;
}

.game-card img::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
}

.game-card .title {
    font-size: 1vw;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    right: 10%;
    border-radius: 5px;
    color: var(--text-color);
    z-index: 2;
    opacity: 0;
    transition: 0.25s ease;
    font-style: italic;
}


.game-carousel::-webkit-scrollbar {
    display: none;
}

.game-carousel::scroll-button(right) {
    content: "›";
}

.game-carousel::scroll-button(left) {
    content: "‹";
}

.game-carousel::scroll-button(left),
.game-carousel::scroll-button(right) {
    position: fixed;
    position-anchor: --game-carousel;
    inline-size: 2.5vw;
    block-size: 5vh;
    background: hsl(from var(--base-color) h s calc(l - 10));
    border-radius: 1vw;
    color: white;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    transition: 0.25s ease;
}

.game-carousel::scroll-button(left) {
    position-area: left center;
    translate: 50% 0;
}

.game-carousel::scroll-button(right) {
    position-area: right center;
    translate: -50% 0;
}

.game-carousel::scroll-button(left):hover,
.game-carousel::scroll-button(right):hover {
    transform: scale(0.9);
}

.game-carousel::scroll-button(:disabled) {
    opacity: 0.3;
    cursor: not-allowed;
}


.game-card h3 {
    margin: 0;
    transition: transform 0.4s ease;
}



@keyframes anim_fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes anim_fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}