/* nav bar group */
.nav-bar-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 0 0 0;
    z-index: 100;
    width: 95%;
    margin-top: 2vh;
    position: relative;
}

.nav-bar-group .align-left {
    margin-right: auto;
}

.nav-bar-group .align-right {
    margin-left: auto;
}


/* navigation bar */
.nav-bar {
    background: hsl(from var(--secondary-color) h s calc(l - 20));
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    padding: 0.25vw 0.25vh;
    font-size: 3vh;
    border: 0.2vw solid hsl(from var(--secondary-color) h s calc(l - 10));
    transition: 0.5s ease;
    position: absolute;
}

.nav-bar::before {
    content: "";
    position: absolute;
    inset: -2px;
    border-radius: inherit;
    background: linear-gradient(270deg,
            hsl(from var(--base-color) h s calc(l - 20)),
            hsl(from var(--secondary-color) h s calc(l - 20)),
            hsl(from var(--base-color) h s calc(l - 20)));
    background-size: 300% 100%;
    background-position: 0% 50%;
    z-index: -1;
    transition: opacity 0.3s ease;
    animation: grad_glow 3s linear infinite;
    filter: blur(12px);
    opacity: 0.5;
}

.nav-bar-btn svg {
    width: 3vw;
    height: 3vh;
}

.nav-bar-btn:nth-last-child(1):hover svg {
    transform: rotate(360deg);
    transition: transform 2s ease;
}

.nav-bar:hover {
    transform: scale(1.05);
}

.nav-bar:hover::before {
    opacity: 1;
}

.nav-bar h2 {
    color: var(--text-color);
    font-weight: 600;
    margin: 0.75vh;
}

.nav-bar p {
    color: var(--subtext-color);
    margin: 1vh;
    margin-left: -0.5vh;
    font-size: 0.8em;
}

.nav-bar.align-left,
.nav-bar.align-right,
.nav-bar.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0.5vw;
}

.nav-bar.align-left {
    left: 0;
}

.nav-bar.align-right {
    right: 0;
    top: 1vw;
}

.nav-bar.align-center {
    top: 1vw;
}


.nav-bar.align-left:hover {
    transform-origin: top left;
    user-select: none;
}

.nav-bar.align-right:hover {
    transform-origin: top right;
}

.nav-bar.align-left:active {
    transform: scale(0.95);
}

.nav-bar .nav-bar-btn {
    background-color: transparent;
    color: var(--text-color);
    border-style: none;
    padding: 0.1vw 0.1vh;
    border-radius: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5vw;
    transition: 0.4s ease;
    position: relative;
    overflow: hidden;
}

.nav-bar .nav-bar-btn p {
    font-weight: 500;
    font-size: 2.25vh;
    margin: 0 0.5vw 0 0;
    user-select: none;
}

.nav-bar .nav-bar-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom,
            hsl(from var(--base-color) h s calc(l - 10)),
            transparent);
    opacity: 0;
    transition: opacity 0.4s ease;
    border-radius: inherit;
}

.nav-bar .nav-bar-btn:hover {
    background-color: hsl(from var(--base-color) h s calc(l - 30));
}

.nav-bar .nav-bar-btn:hover::after {
    opacity: 1;
}

.nav-bar .nav-bar-btn:active {
    transform: scale(0.95);
}

.widget {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0.25vw;
}

.widget span, .widget i {
    font-weight: 600;
    font-size: 1vw;
    margin: 0.25vw;
}

.widget i { rotate: -90deg; }


.synthesis-text {
    background: linear-gradient(270deg,
            var(--base-color),
            var(--secondary-color),
            var(--base-color));
    background-size: 300% 100%;
    background-position: 0% 50%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientShift 3s linear infinite;
    filter: brightness(0.85);
    font-weight: 700;
    user-select: none;
}


@keyframes grad_glow {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: -150% 50%;
    }
}

@keyframes zoom_out {
    from {
        transform: translate(240%, 425%) scale(4.5);
    }

    to {
        transform: none;
    }
}